<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI CV Screening System</title>
    <link
      href="https://fonts.googleapis.com/css?family=Cantarell"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>

</head>
<body>
<!--    <h1>AI CV Screening System</h1>-->
        <div class="wrapper">
        <div class="container">
            <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm" onsubmit="submitForm(event)">
                <div class="column">
                    <label for="cv">Upload Candidate's CV:</label>
                    <input type="file" id="cv" name="cv" accept=".pdf,.docx">
                    <button type="button" class="preview-button" onclick="previewFileContent('cv')">Preview</button>
                </div>
                <div class="column">
                    <label for="jobDescription">Upload Job Description:</label>
                    <input type="file" id="jobDescription" name="jobDescription" accept=".pdf,.docx">
                    <button type="button" class="preview-button" onclick="previewFileContent('jobDescription')">Preview</button>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="card-wrapper">
          <div class="card">
            <div class="frame">
              <div class="content">
                <h1 class="heading"><span></span> Screening System</h1>
              </div>
            </div>
          </div>
        </div>

        </div>
    <script>
        function previewFileContent(inputId) {
            const fileInput = document.getElementById(inputId);
            const file = fileInput.files[0];

            if (!file) {
                alert('No file uploaded!');
                return;
            }

            window.open(URL.createObjectURL(file));
        }
</script>
</body>
</html>
